<section class="pt-10 px-32">
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select your page</label>
        <select *ngIf="subRoute" id="tabs"
        [(ngModel)]="subRoute"
        (change)="selectNavigate($event.target)" 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
            <option *ngFor="let route of routesConfig" [value]="route.link"
            (pointerdown)="selectNavigate($event)">
                <a [routerLink]="route.link">{{route.name}}</a> 
            </option>
        </select>
    </div>
    <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400 overflow-hidden">
        <li *ngFor="let route of routesConfig" class="w-full">
            <a [routerLink]="route.link" (click)="updateSubRoute()" [ngClass]="subRoute === route.link ? 'bg-primary-700 text-white' : ''" class="inline-block w-full p-4  focus:outline-none"  aria-current="page">{{route.name}}</a>
        </li>
    </ul>
</section>
<router-outlet></router-outlet>


